# Base
NEXT_PUBLIC_SITE_URL=https://viranlucien.com
NEXT_PUBLIC_SANITY_PROJECT_ID=gidffpzl
NEXT_PUBLIC_SANITY_DATASET=production

# Supabase (可选：如果启用数据库)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Stripe（等商品准备好后再启用）
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# 其它（按需）
# SENTRY_DSN=
